input[type="checkbox"] {
    height: 38px;
    width: 38px;
    cursor: pointer;
}

.wrapper {
    margin-top: 80px;
}

.break-word {
    @media (min-width: 1200px) {
        width: 450px;
    }
    @media (min-width:500px) and (max-width: 1200px) {
        width: 300px;
    }
}

.card {
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        background-color: #abf7b1;
        transform: scale(1.05);
    }
}

.text-ellipsis {
    white-space: nowrap;        
    overflow: hidden;        
    text-overflow: ellipsis;         
}