<div id="wrapper" class="container mt-5 p-5 bg-light rounded shadow-lg">
    <h1 class="text-center mb-4 text-primary">Add Task</h1>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="form-floating mb-4">
            <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Name"
                required>
            <label for="name">Name</label>
            <div *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched">
                <small *ngIf="taskForm.get('name')?.errors?.['required']">Name is required.</small>
            </div>
        </div>
        <div class="form-floating mb-4">
            <textarea id="description" name="description" formControlName="description" class="form-control"
                placeholder="Description">
            </textarea>
            <label for="description">Description</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="taskForm.invalid">Save</button>
    </form>
</div>