<div id="wrapper">
    <h1>Add Task</h1>
    <form (ngSubmit)="onSubmit()" #taskform="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <br>
            <input type="text" id="name" [(ngModel)]="task.name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <br>
            <textarea id="description" [(ngModel)]="task.description" name="description"></textarea>
        </div>
        <button type="submit">Save</button>
    </form>
</div>