<div class="container wrapper">
    <a [routerLink]="['/tasks/add']" class="btn btn-primary btn-lg mb-3 col-lg-1">Add</a>

    <div *ngFor="let task of tasks" class="card mb-3 col-lg-7 hover-bg-dark" (click)="openTask(task.id)">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 id="name" class="card-title">{{task.name}}</h5>
                <p id="description" class="card-text break-word ">{{task.description}}</p>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-secondary me-2" (click)="removeTask(task.id, $event)">Remove</button>
                <input class="form-check-input mb-1" type="checkbox" [checked]="task.isCompleted" (click)="completeTask(task.id, $event)">
            </div>
        </div>
    </div>
</div>